.container
  - @subjects.each do |s|
    .d-flex.flex-wrap.align-items-center.justify-content-between.gap-2.my-3
      .display-3 = s.name
      .d-flex.flex-wrap.gap-2
        = link_to 'Add Topic', new_subject_topic_path(s), class: 'btn btn-primary'
        = link_to 'Most Flagged Questions', subject_flagged_questions_path(s), class: 'btn btn-info'
    table.table
      thead
        tr
          th Topic Name
          th Question #
      tbody
        - s.topics.select(&:active?).sort_by(&:name).each do |t|
          tr
            td = link_to t.name, topic_questions_path(t)
            td = @question_counts.fetch(t.id, 0)
