.container
  .accordion
    .card
      - @subjects.each do |s|
        - subject_id = s.name.parameterize
        .card-header id="heading#{subject_id}"
          = link_to subject_leaderboard_path(s), data: { turbo: false, bs_toggle: 'collapse', bs_target: "#body#{subject_id}" }
            p = s.name
        .collapse id="body#{subject_id}" aria-labelledby="heading#{subject_id}"
          .card-body
            = link_to subject_leaderboard_path(s), data: { turbo: false }
              p All
            - s.topics.order(:name).each do |t|
              p = link_to t.name, topic_leaderboard_path(t), data: { turbo: false }
