- content_for :title
  title = "Quiz - #{@quiz.subject.name}"
= render('question_top')
.container
  - if @lesson.blank? || @lesson.no_content?
    = render_question
  - else
    .row.align-items-center data-controller='video-modal'
      .col-md-8
        = render_question
      .col-md-4.text-center#lesson
        h3.h3 = @lesson.title
        button.videoLink.btn.p-0.w-100(type="button"
          aria-label="Play #{@lesson.title}"
          data-video-url=@lesson.video_url
          data-bs-toggle="modal"
          data-bs-target="#videoModal"
          data-action="click->video-modal#open")
          img.img-fluid.card-img-top(src=@lesson.thumbnail_url
            alt=""
            data-video-id=@lesson.video_id
            data-video-modal-target=("vimeo" if @lesson.vimeo?))
      = render 'shared/video_modal'
= render('question_bottom')
