.container.pb-5
  - crumbs = @school ? [['Schools', system_schools_path], [@school.name, system_school_path(@school)]] : []
  = admin_page_header 'Roles', breadcrumbs: crumbs
  - if @employees.present?
    .col
      h2.admin-section-heading Staff at #{@school.name}
      .table-responsive
        table.table#employees-table
          thead
            tr
              th Name
              th Username
              th Subject
              th Role
              th Add Role
          tbody
            - @employees.each do |e|
              tr.employee-row data-user=e.id
                td
                  => e.forename
                  = e.surname
                td = e.username
                td
                  = select_tag 'user[subject]',
                    options_from_collection_for_select(@all_subjects, :id, :name),
                    id: "subject-select-user-#{e.id}",
                    form: "form-#{e.id}",
                    class: 'form-select form-select-sm'
                td = select_tag 'user[role]',
                  options_for_select(User::ChangeUserRole::ROLES.map { |role| [role.humanize, role] }),
                  prompt: 'Choose role…',
                  required: true,
                  id: "role-select-user-#{e.id}",
                  form: "form-#{e.id}",
                  class: 'form-select form-select-sm'
                td = button_to 'Add Role',
                  system_user_roles_path(e),
                  id: "add-role-#{e.id}",
                  class: 'btn btn-sm btn-outline-secondary add-role-button',
                  form: { id: "form-#{e.id}", data: { turbo: true } }
