.container
  = admin_page_header 'Overview'
  h2.admin-section-heading Activity
  = render('system/school_statistics_table')

  h2.admin-section-heading Most bought customisations
  = render 'system/customisation_statistics_table', customisations: @customisations
  p = link_to 'All customisation purchases', system_customisation_statistics_path
