h1.visually-hidden Users
section.page-section.text-center.pt-2#Users
  .container
    h2.page-section-header.text-uppercase Students
    ==render_small_separator
    - students_table_options = { paginationSize: 10,
        initialSort: [{ column: 'reset_password', dir: 'asc' },
          { column: 'name', dir: 'asc' }],
        columns: [{ title: 'Name', field: 'name' },
          { title: 'Username', field: 'username' },
          { title: 'Classes', field: 'classes' },
          { title: 'Reset Password?', field: 'reset_password' }] }.to_json
    .col.table-responsive data-controller='datatable' data-datatable-options-value=students_table_options
      = render 'shared/table_search'
      .mb-2
        button.btn.btn-secondary.btn-sm.me-2 type='button' data-action='click->datatable#copy' Copy
        button.btn.btn-secondary.btn-sm type='button' data-action='click->datatable#downloadCsv' CSV
      table.table#students-table data-datatable-target='table'
        thead
          tr
            th Name
            th Username
            th.d-none.d-lg-table-cell Classes
            th Reset Password?
        tbody
          - @students.each do |s|
            tr.student-row data-id=s.id
              td
                => s.forename
                = s.surname
              td = s.username
              td.d-none.d-lg-table-cell = user_class_names(s)
              td = link_to('Reset Password', reset_password_user_path(id: s.id),
                class: 'btn btn-dark reset-password reset-password-student',
                data: { controller: 'password-reset', action: 'click->password-reset#reset' })
    - if current_user.has_role? :school_admin
      = render('users/employee_table')
