nav#navbar-main.navbar.navbar-expand-sm.navbar-dark.justify-content-between.bg-dark
  .container-fluid
    a.navbar-brand href=system_schools_path
      i.fas.fa-vihara.fa-2x.text-white
      h1#branding-text.navbar-text.text-uppercase.text-white.d-inline-block
        | Tenjin

    button.navbar-toggler(type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto
        li.nav-item = nav_link 'Schools', system_schools_path, current: controller_path == 'system/schools' && action_name != 'stats'
        li.nav-item = nav_link 'Statistics', stats_system_schools_path, current: action_name == 'stats'
        li.nav-item = nav_link 'Subjects', system_subjects_path, current: controller_path == 'system/subjects'
        - if current_admin.super?
          li.nav-item = nav_link 'Customisations', system_customisations_path, current: controller_path == 'system/customisations'
          li.nav-item = nav_link 'School Groups', system_school_groups_path, current: controller_path == 'system/school_groups'
          li.nav-item = nav_link 'Roles', manage_roles_system_users_path, current: current_page?(manage_roles_system_users_path)
          li.nav-item = nav_link 'Admin Options', system_admin_path(current_admin), current: current_page?(system_admin_path(current_admin))
      = button_to 'Logout', destroy_admin_session_path,
        method: :delete,
        class: 'btn btn-light',
        form: { class: 'd-inline', data: { turbo: false } }
