/ Super admins have six links, which crowd a single row below lg
- breakpoint = current_admin.super? ? 'lg' : 'sm'
- settings_current = controller_path.in?(%w[system/admins system/invitations])
nav#navbar-main.navbar.navbar-dark.bg-dark class="navbar-expand-#{breakpoint}"
  .container-fluid
    a.navbar-brand href=system_schools_path
      i.fas.fa-vihara.fa-2x.text-white
      h1#branding-text.navbar-text.text-uppercase.text-white.d-inline-block
        | Tenjin

    button.navbar-toggler(type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto
        li.nav-item = nav_link 'Schools', system_schools_path, current: controller_path == 'system/schools' && action_name != 'stats'
        li.nav-item = nav_link 'Statistics', stats_system_schools_path, current: action_name == 'stats'
        li.nav-item = nav_link 'Subjects', system_subjects_path, current: controller_path == 'system/subjects'
        - if current_admin.super?
          li.nav-item = nav_link 'Customisations', system_customisations_path, current: controller_path == 'system/customisations'
          li.nav-item = nav_link 'School Groups', system_school_groups_path, current: controller_path == 'system/school_groups'
          li.nav-item = nav_link 'Roles', manage_roles_system_users_path, current: current_page?(manage_roles_system_users_path)
      / The collapsed menu lists the account items as links rather than hiding them behind the avatar
      ul#account-links.navbar-nav.border-top.border-secondary.mt-2.pt-2 class="d-#{breakpoint}-none"
        li.navbar-text.small.text-truncate = current_admin.email
        - if current_admin.super?
          li.nav-item = nav_link 'Settings', system_admin_path(current_admin), current: settings_current
        li.nav-item
          = button_to 'Sign out', destroy_admin_session_path,
            method: :delete,
            class: 'nav-link',
            form: { data: { turbo: false } }
      ul.navbar-nav.d-none class="d-#{breakpoint}-flex"
        li.nav-item.dropdown#account-menu
          button.btn.btn-primary.rounded-circle.admin-avatar(type='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
            aria-label="Account menu for #{current_admin.email}")
            = current_admin.email.first.upcase
          ul.dropdown-menu.dropdown-menu-end
            li.dropdown-header.text-truncate title=current_admin.email = current_admin.email
            - if current_admin.super?
              li = nav_link 'Settings', system_admin_path(current_admin), css_class: 'dropdown-item', current: settings_current
            li
              hr.dropdown-divider
            li
              = button_to 'Sign out', destroy_admin_session_path,
                method: :delete,
                class: 'dropdown-item',
                form: { data: { turbo: false } }
