nav#navbar-main.navbar.navbar-expand-md.justify-content-between.bg-black data-bs-theme="dark"
  .container-fluid
    a.navbar-brand href=dashboard_path
      i.fas.fa-vihara.fa-2x.text-white
      span#branding-text.text-uppercase.text-white
        | Tenjin
    button.navbar-toggler(type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation")
        span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto
        li.nav-item = nav_link 'Leaderboard', leaderboard_index_path, current: controller_name == 'leaderboard'
        - if current_user.student?
          li.nav-item.dropdown
            button#shopDropdown.nav-link.dropdown-toggle(type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false")
              | Shop
            .dropdown-menu aria-labelledby='shopDropdown'
              a.dropdown-item href=show_available_customisations_path(anchor: 'dashboard-styles')
                | Styles
              a.dropdown-item href=show_available_customisations_path(anchor: 'icons')
                | Leaderboard Icons
        li.nav-item = nav_link 'Lessons', lessons_path, current: controller_name == 'lessons'
        - if current_user.employee?
          li.nav-item = nav_link 'My Classes', dashboard_path, current: controller_name == 'dashboard'
          - if current_user.has_role? :school_admin
            - school_pages = [['Users', users_path], ['Classrooms', classrooms_path]]
            - on_school_page = school_pages.any? { |_, path| current_page?(path) }
            li.nav-item.dropdown#school-menu
              button.nav-link.dropdown-toggle(type='button'
                class=('active' if on_school_page)
                data-bs-toggle='dropdown'
                aria-expanded='false') School
              ul.dropdown-menu
                - school_pages.each do |label, path|
                  li = nav_link label, path, current: current_page?(path), css_class: 'dropdown-item'
          - if current_user.has_role? :question_author, :any
            li.nav-item = nav_link 'Edit Questions', questions_path, current: controller_name == 'questions'

      - if current_user.student?
        a.d-inline-flex.align-items-center.me-3 href=show_available_customisations_path
          i.fas.fa-star.text-warning.me-1 aria-hidden="true"
          span.visually-hidden> Challenge points:
          span#challenge-points.text-light = current_user.challenge_points
      p.m-2#current_user_paragraph
        a#current_user.text-light href=user_path(current_user)
          => current_user.forename
          = current_user.surname
      = button_to 'Logout', destroy_user_session_path,
        method: :delete,
        class: 'btn btn-light-outline',
        form: { class: 'd-inline', data: { turbo: false } }
