nav#navbar-main.navbar.navbar-expand-md.justify-content-between.bg-black data-bs-theme="dark"
  .container-fluid
    a.navbar-brand href=dashboard_path
      i.fas.fa-vihara.fa-2x.text-white
      span#branding-text.text-uppercase.text-white
        | Tenjin
    button.navbar-toggler(type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation")
        span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto
        li.nav-item
          a.nav-link href=leaderboard_index_path
            | Leaderboard
        - if current_user.student?
          li.nav-item.dropdown
            button#shopDropdown.nav-link.dropdown-toggle(type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false")
              | Shop
            .dropdown-menu aria-labelledby='shopDropdown'
              a.dropdown-item href=show_available_customisations_path(anchor: 'dashboard-styles')
                | Styles
              a.dropdown-item href=show_available_customisations_path(anchor: 'icons')
                | Leaderboard Icons
        li.nav-item
          a.nav-link href=lessons_path
            | Lessons
        - if current_user.employee?
          li.nav-item
            a.nav-link href=dashboard_path
              | Classrooms
          - if current_user.has_role? :school_admin
            li.nav-item
              a.nav-link href=users_path
                | User Admin
            li.nav-item
              a.nav-link href=classrooms_path
                | Setup Classrooms
          - if current_user.has_role? :question_author, :any
            li.nav-item
              a.nav-link href=questions_path
                | Edit Questions

      - if current_user.student?
        a.d-inline-flex.align-items-center.me-3 href=show_available_customisations_path
          i.fas.fa-star.text-warning.me-1 aria-hidden="true"
          span.visually-hidden> Challenge points:
          span#challenge-points.text-light = current_user.challenge_points
      p.m-2#current_user_paragraph
        a#current_user.text-light href=user_path(current_user)
          => current_user.forename
          = current_user.surname
      = button_to 'Logout', destroy_user_session_path,
        method: :delete,
        class: 'btn btn-light-outline',
        form: { class: 'd-inline', data: { turbo: false } }
