.container
  = admin_page_header 'Add School', breadcrumbs: [['Schools', system_schools_path]]
  = simple_form_for([:system, @school]) do |f|
    = f.input :client_id, label: 'Client ID'
    = f.input :token
    = f.submit 'Add School', class: 'btn btn-primary'
