.container
  = admin_page_header 'Statistics'
  h2.admin-section-heading Activity
  = render('school_statistics_table')

  h2.admin-section-heading Customisations
  table.table#customisation-statistics
    thead
      tr
        th scope='col' Customisation
        th scope='col' Type
        th scope='col' Times bought
    tbody
      - @customisation_statistics.each do |c|
        tr id=dom_id(c)
          td = c.name
          td = c.customisation_type.humanize
          td = c.times_bought
