.container
  = admin_page_header @school.name, breadcrumbs: [['Schools', system_schools_path]] do
    - if admin_policy(@school, policy_class: System::Schools::StaffPolicy).index?
      = link_to 'Staff', system_school_staff_index_path(@school), class: 'btn btn-outline-secondary'
  .row
    .col
      table.table
        tbody
          tr
            td Students
            td.text-end = number_with_delimiter(@role_counts["student"].to_i)
          tr
            td Employees
            td.text-end = number_with_delimiter(@role_counts["employee"].to_i)
      = render('system/school_statistics_table')
  .row
    .col
      h2.admin-section-heading School admins
      - if @school_admins.blank?
        p.text-body-secondary No school admins.
      - else
        table.table#schoolAdminTable
          thead
            tr
              th Username
              th Login As
          tbody
            - @school_admins.each do |sa|
              tr.school-admin-data
                td = link_to sa.username, system_user_path(sa)
                td = button_to 'Become User', system_impersonation_path, params: { user_id: sa.id },
                  class: 'btn btn-sm btn-outline-secondary',
                  form: { class: 'd-inline', data: { turbo: false } }

  .row
    .col
      h2.admin-section-heading Users
    .table-responsive data-controller='datatable' data-datatable-options-value=({ paginationSize: 10 }.to_json)
      = render 'shared/table_search'
      table.table#users-table data-datatable-target='table'
        thead
          tr
            th Username
            th Name
            th Role
            th Login As
        tbody
          - @users.each do |u|
            tr.user-data id="user-#{u.id}"
              td = link_to u.username, system_user_path(u)
              td
                => u.forename
                = u.surname
              td = u.role.humanize
              td = button_to 'Become User', system_impersonation_path, params: { user_id: u.id },
                class: 'btn btn-sm btn-outline-secondary',
                form: { data: { turbo: false } }
