.container
  = admin_page_header 'Add Subject', breadcrumbs: [['Subjects', system_subjects_path]]
  .row
    .col
      = simple_form_for [:system, @subject] do |f|
       =f.input :name
       =f.button :submit, class: "btn btn-primary w-100"
