- content_for :title
  title = ('Lessons')
.container data-controller='video-modal'
  section.page-section.text-center.pt-2#newLesson
    h1.page-section-header.text-uppercase Lessons
    ==render_small_separator(margin: "mb-2")
    - if @lessons.empty?
      p.lead No lessons yet!
    - elsif current_user.student?
      = render 'student_lessons'
    - else
      = render 'staff_lessons'

  .modal.fade#videoModal data-video-modal-target='modal'
    .modal-dialog.modal-dialog-centered.modal-lg role="document"
      .modal-content
        .modal-body.p-0.p-md-2
          button.btn-close type="button" data-bs-dismiss="modal" aria-label="Close"
          .ratio.ratio-16x9
            iframe#video(data-video-modal-target='iframe'
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowscriptaccess="always"
              src=""
              allowfullscreen)
