- content_for :title
  title = ('Lessons')
.container data-controller='video-modal'
  section.page-section.text-center.pt-2#newLesson
    h1.page-section-header.text-uppercase Lessons
    ==render_small_separator(margin: "mb-2")
    - if @subjects.empty?
      p.lead No lessons yet!
    - elsif current_user.student?
      = render 'student_lessons'
    - else
      = render 'staff_lessons'

  = render 'shared/video_modal'
