.container
  = admin_page_header (@school_group.new_record? ? 'Add School Group' : @school_group.name_in_database),
    breadcrumbs: [['School Groups', system_school_groups_path]]
  = simple_form_for [:system, @school_group] do |f|
    = f.input :name
    = f.submit "Save", class: "btn btn-primary"
