.container
  = form_tag topic_import_path(@topic), multipart: true do
    .row.mt-3
      = file_field_tag :file, id: 'select-file', class: 'form-control'
    .row.my-2
      .col
        = submit_tag "Import", class: 'btn w-100 btn-primary'
