doctype html
html lang="en-GB"
  = render 'layouts/head'

  body data-action=action_name data-controller=controller_name
    - if current_user.present?
      = render('shared/user_navigation')
      = render('shared/impersonation', admin_area: false) if current_admin.present?
    - elsif current_admin.present?
      = render('shared/admin_navigation')
    - else
      = render('shared/logged_out_navigation')
      = render('shared/student_login_modal') unless devise_controller?
    #flashes = render('shared/flashes')
    main = yield
