doctype html
html lang="en-GB"
  = render 'layouts/head'

  body.admin-area data-action=action_name data-controller=controller_name
    = render('shared/admin_navigation')
    = render('shared/impersonation', admin_area: true) if current_user.present?
    #flashes = render('shared/flashes')
    main = yield
